:root {
    --font-body: "Cardo", serif;
    --font-headings: "Corinthia", serif;
    --background-color-body: #f5f5f5;
    --text-color-black: #111111;
    --text-color-body: #333;
    --text-color-mute: #6e6e6e;
    --color-headings-fond: #f0e2d4;
    --color-headings: #f6d159;
    --color-headings-dark: #bd9365;
    --color-btn-secondary-light: #96c1e2;
    --color-btn-secondary: #0f3858;
    --background-color-dark: #031b2e;
    --text-color-dark: #fff;
    --padding-section: 60px 0;
    --border-radius-btn: 25px;
    --padding-btn: 10px 30px;
    --font-size-countdown: 24px;
    --margin-countdown: 10px;
    --border-radius-img: 8px;
    --max-width-container: 960px;
    --padding-container: 20px;
    --margin-bottom-headings: 20px;
    --margin-bottom-img-thumbnail: 20px;
    --padding-row: 20px;
}

html {
    scroll-behavior: smooth;
    transition: scroll ease-in 2s;
}

body {
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    background-color: var(--background-color-body);
    color: var(--text-color-body);
    scroll-behavior: smooth;
    transition: scroll ease-in 2s;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-style: normal;
}

section {
    background: var(--background-color-body);
}

.line-title {
    line-height: 0.9em;
}

.line-title-minus {
    transform: translate(0px, -14px);
}

.container {
    width: 90%;
}

.line-data {
    display: flex;
    text-align: center;
    gap: 20px;
    align-items: center;
}

.line-data:after, .line-data:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: var(--text-color-dark);
    opacity: 0.6;
}

.gradient-text-headings {
  background: -webkit-radial-gradient(var(--color-headings-fond), var(--color-headings));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-scroll {
    overflow: hidden;
}

.image-pareja {
    width: 100%;
    overflow: hidden;
    height: 63vh;
    background: transparent;
}

.image-pareja img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    z-index:-1;
}

.container-sobre {
    width: 300px;
    max-width: 300px;
    height: 420px;
    filter: drop-shadow(0 0 150px var(--background-color-dark));
}

.separator-forest {
    height: 30px;
    background: url(../img/fond-line.svg);
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-headings);
    color: var(--color-headings);
    margin-bottom: var(--margin-bottom-headings);
}

.color-text-title {
    color: var(--color-btn-secondary);
}

.color-text-normal {
    color: var(--text-color-body);
}

.bg-dark-blue {
    background: var(--color-btn-secondary);
}

.sobre {
    position: relative;
    height: 100%;
}

.sobre img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.sobre img.carta-1 {
    z-index: 3;
}

.sobre img.carta-2 {
    z-index: 1;
    transform: translate(0px, -84px);
}

@media screen and (max-width: 580px) {
}

.sobre .hoja {
    width: 80%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 100px;
    z-index: 2;
    background-color: var(--background-color-body);
    padding: 20px;
    padding-bottom: 60px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.sobre .hoja h1 {
    font-size: 4em;
}

.btn-open {
    background-color: var(--color-btn-secondary);
    color: var(--background-color-body);
    position: absolute;
    top: 220px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: auto;
    z-index: 4;
    border-radius: 50% !important;
    text-align: center;
}

.btn-open:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-btn-secondary);
    border-radius: 50%;
    z-index: -1;
    animation: start-btn infinite 1s ease-in;
}

@keyframes start-btn {
    0% {
        transform: scale(1);
        opacity: 0.2;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.section-dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    padding: var(--padding-section);
}

.btn-secondary {
    border-color: var(--color-btn-secondary);
    background: var(--color-btn-secondary);
    color: var(--text-color-dark);
    transition: var(--transition-btn);
}

.btn-secondary:hover {
    background-color: var(--background-color-dark);
}

.btn-outline-secondary {
    border-color: var(--color-btn-secondary);
    color: var(--color-btn-secondary);
    transition: var(--transition-btn);
}

.btn-outline-secondary:hover {
    background-color: var(--color-btn-secondary);
    color: var(--text-color-dark);
}

.container {
    max-width: var(--max-width-container);
    margin: auto;
    padding: var(--padding-container);
}

.text-center {
    text-align: center;
}

.btn-primary:hover {
    background: var(--background-color-dark);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-img);
}

.modal-content {
    background-color: var(--background-color-modal);
}

.btn {
    border-radius: var(--border-radius-btn);
    padding: var(--padding-btn);
    font-size: 1.15em;
}

.arrow-down {
    width: 20px;
    height: 20px;
    border-left: solid 1px var(--background-color-body);
    border-bottom: solid 1px var(--background-color-body);
    transform: rotate(-45deg);
    margin: 0 auto;
}

.content-arrow {
    animation: scroll-down alternate ease-in 1s infinite;
}

@keyframes scroll-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

#countdown div {
    text-align: center;
    font-size: var(--font-size-countdown);
    margin: var(--margin-countdown);
}

.img-thumbnail {
    border: none;
    margin-bottom: var(--margin-bottom-img-thumbnail);
}

#welcomeContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-headings-fond) url(../img/fond-intro.jpg) center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#toggleMusic {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed; 
    bottom: 20px;
    right: 20px;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    border: var(--color-headings-dark) solid 1px;
}

#toggleMusic img {
    width: 30px;
    height: 30px;
}

.bg-regalo img {
    filter: drop-shadow(0px 0px 20px var(--background-color-body));
}

/* Clase para la animaciones */
.zoom-out {
    transform: scale(0.5);
    opacity: 0;
}

.blinking {
    animation: blink 2s infinite;
}

@media (min-width: 768px) {
    .row > .col-md-6 {
        padding: var(--padding-row);
    }
}

@keyframes blink {
    0%, 100% {
        filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.2));
    }
    50% {
        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
    }
}

.data-day {
    appearance: none;
    text-align: center;
    width: 100%;
    border: 0;
}

.data-day tr th {
    font-weight: bold;
    color: var(--text-color-mute);
    font-size: 1.15em;
}

.data-day tr td {
    font-size: 1.5em;
    opacity: 0.2;
}

.data-day tr td:nth-child(4) {
    opacity: 1;
    color: var(--color-btn-secondary);
    border-top: solid 1px var(--color-btn-secondary);
    border-bottom: solid 1px var(--color-btn-secondary);
    font-weight: bold;
}

.display-1  {
    font-size: calc(2.625rem + 4.5vw);
}

.display-2 {
    font-size: calc(2.575rem + 3.9vw);
}

.display-3 {
    font-size: calc(2.525rem + 3.3vw);
}

.display-4 {
    font-size: calc(2rem + 2.7vw);
}

.bg-secondary {
    background-color: var(--color-btn-secondary) !important;
}

.bg-secondary:not(.cont-return) .color-text-title {
    background: -webkit-radial-gradient(var(--color-headings-fond), var(--color-headings));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-secondary h4 {
    color: var(--color-headings-dark);
}

.border-golden {
    border: var(--color-headings-dark) solid 1px;
}

.color-golden {
    color: var(--color-headings-dark);
}

.radius-card-weddins {
    border-radius: 50vw 50vw 30px 30px;
}

.palet-colors {
    width: 40px;
    height: 40px;
}

.palet-colors.color-1 {
    background-color: var(--text-color-black);
}

.palet-colors.color-2 {
    background-color: var(--color-btn-secondary);
}

.palet-colors.color-3 {
    background-color: var(--text-color-mute);
}

.palet-colors.color-4 {
    background-color: var(--color-btn-secondary-light);
}

.radius-card-weddings {
    border-radius: 50vw 50vw 30px 30px ;
}